section{
    text-align: center;
    margin: 0 1rem;
}
.section-title{
    margin: 1rem 0rem;
    padding-block-end: 1rem;
    text-align: end;
}

.section-title h1{
    font-size: 50px;
    font-weight: 900;
    -webkit-background-clip: text;
    background: linear-gradient(90deg, #d1734f 70%, #241b1b 100%);
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

section p{
    font-size: 14px;
    font-weight: 600;
    color: #744433;
}

.list_product{
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.product_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/imgs/patron.png');
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 75%),
        url('/static/imgs/patron.png');
    background-repeat: repeat;
    background-size: 50% 100%;
    opacity: 0;
    transition: opacity 0.3s ease; 
    z-index: 0;
}

.product_card{
    position: relative;
    padding: 15px 8px;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* max-width: 25vw; */
    min-width: 80vw;
    background-color: #fdf8f2;
    border-radius: 12px;
    border: 1px solid #281a1a88;
    overflow: hidden;
    transition: all 0.3s ease;
    scroll-snap-align: start;
}

.product_card > *{
    z-index: 5;
}

.product_card:hover{
    background-color: #dfb29d;
    transform: scale(1.02);
}
.product_card:hover::before {
    opacity: 0.5;
}
.container_product-photo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-shadow{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #7c5353;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px #eb9c76;
}

.product-photo{
    max-width: 80%;
    z-index: 10;
}

.product-name{
    color: #281a1a;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #281a1a;
}

.product-description{
    font-size: 14px;
    opacity: 0.8;
    font-weight: 500;
}

.add_product{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price{
    font-size: 16px;
    font-weight: 600;
    color: #3c312e;
}

.product-price  p{
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.add_product .product_card > p{
    text-align: center;
}

.btn_add-product{
    padding: 11px 18px;
    margin: 0 8px;
    background-color: #3e2e2e;
    color: #f7ece9;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.btn_add-product:hover{
    cursor: pointer;
    background-color: #221c1d;
    color: #fff;
}

/*---------------- MEDIA QUERIES----------------- */

@media (min-width: 576px) and (max-width: 767.98px){
   .product_card{
        min-width: 50vw;
   }
}

/* Mediano (MD) */
@media (min-width: 768px) {
    .section-title{
        margin: 1rem;
    }

    .product_card{
        width: 35vw;
        min-width: min-content;
   }
}

/* Grande (LG) */
@media (min-width: 992px){

    .product_card{
        width: 33vw;
   }
}

@media (min-width: 1200px){
    .product_card{
        width: 25vw;
        max-width: 350px;
   }
}