{% extends "base.html" %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login-styles.css' %}">
{% endblock styles %}
{% block content %}
    {% comment %} <p>KEEP CALM AND DRINK COFFEE</p> {% endcomment %}
    <div class="form-login">
        <p>INICIO DE SESION</p>

        <form action="" method='post'>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn-form" type="submit">Ingresar</button>
        </form>
        <p class="switch-form-user">¿No tienes cuenta aun? <a href="{% url "register" %}">Registrate</a></p>
    </div>
    <div class="container-splash">
        <div class="coffee-splash"></div>
    </div>
{% endblock content %}